.home img {
  object-fit: contain;
  box-sizing: border-box;
}
.et_en {
  position: relative;
}
.banner-img {
  width: 100%;
  mask-image: linear-gradient(to right, transparent, black 75%);
  -weblit-mask-image: linear-gradient(to right, transparent, black 75%);
}
.et-caption{
  position: absolute;
  width: 100%;
  padding-left: 6%;
  bottom: 0;
}
.et-caption p{
  max-width: 700px;
  font-size: 17px;
  margin-bottom: 20px;
  color: #eff7f7;
}
.et-btns{
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
}
.et-btns .btn{

border: 0;
outline: 0;
padding: 8px 20px;
display: inline-flex;
align-items: center;
gap: 10px;
font-size: 15px;
font-weight: 600;
background: white;
border-radius: 4px;
cursor: pointer;


}
.et-btns .dark-btn{
  color: #fff;
  background: #6d6d6eb3;
}
.et-btns .btn:hover{
  background: #ffffffbf;
}
.et-btns .dark-btn:hover{
  background: #6d6d6e66;
}